html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота экрана */
    background-image: url(./image/apteka-1200x580_LE_auto_x2.jpg);
    background-size: contain; /* Масштабируем изображение так, чтобы оно полностью помещалось в контейнер */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Избегаем повторения изображения */
    background-color: #ffffff; /* Фоновый цвет для ситуации, когда изображение не занимает весь экран */
}

.allbody {
    display: grid;
    width: 80%;
    max-width: 700px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для читаемости */
}

h1 {
    font-size: 2rem;
    text-align: center;
}

label {
    font-size: 1rem;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 0.8rem;
    width: 100%;
    box-sizing: border-box;
}

.interactive {
    margin-top: 20px;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.interactive:focus,
.interactive:hover {
    background-color: rgb(41, 121, 101);
}

.result {
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    input, .interactive {
        font-size: 0.9rem;
        padding: 8px;
    }

    .allbody {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    input, .interactive {
        font-size: 0.8rem;
        padding: 6px;
    }
}
