html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./image/apteka-1200x580_LE_auto_x2.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.allbody {
    display: grid;
    width: 700px;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
}

.interactive {
    margin-top: 20px;
    border-radius: 8px;
    width: 150px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.interactive:focus,
.interactive:hover {
    background-color: rgb(41, 121, 101);
}
.result {
    margin-top: 0;
}